<div class="dash-body">  
  <h1 class="page-header"> Beranda </h1>

  <!-- <div class="row show-hide-message">
    <div[ngClass]="messageClass">
      {{ message }}
    </div>

  </div> -->

  <button [disabled] ="loadDash" type="button" name="button" class="btn btn-blk" *ngIf="!post" (click)="ReloadDash()">
    <span class="fa fa-refresh"></span>&nbsp;&nbsp; Perbarui
  </button>

<br><br>

  <div *ngIf="!newPost">
    <div class="panel panel-default" *ngFor="let post of postData">
      <div class="panel-heading">
        <h5 class="panel-title">{{post.title}}</h5>
        {{post.username}}
        {{post.date | date:'dd MM yyyy'}}
      </div>
      <div class="panel-body">
        {{post.content}}
      </div>
      <!-- footer start -->
      <div class="panel-footer">
        <div>
          <button type="button" name="button" class="btn btn-sm btn-blk" (click)="plusLike()">
            <span class="fa fa-thumbs-up">&nbsp;&nbsp;</span>{{post.plusLike}}
          </button>
          <!-- <button type="button" name="button" class="btn btn-sm btn-blk" (click)="draftComment()">
          <span class="fa fa-comments">&nbsp;&nbsp;</span>2</button> -->
        </div>
      </div>
      <!-- footer end-->

 <!--      <ul class="list-group">
        <li class="list-group-item">
          <div *ngIf="newComment.indexOf(post.idpost)> -1">
          <form>
            <textarea name="comment" rows="10" cols="30" class="form-control"></textarea>
            <button type="button" name="button" class="btn btn-sm btn-grn"><strong>Tambah komentar</strong></button>
            <button type="button" name="button" class="btn btn-sm btn-blk"> Batal </button>
          </form>
          </div>
        </li>
      </ul> -->

    </div>
  </div>
</div>