<link rel="stylesheet" href="path/to/node_modules/clarity-icons/clarity-icons.min.css">
<script src="path/to/node_modules/mutationobserver-shim/dist/mutationobserver.min.js"></script>
<script src="path/to/node_modules/@webcomponents/custom-elements/custom-elements.min.js"></script>
<script src="path/to/node_modules/clarity-icons/clarity-icons.min.js"></script>



<nav class="navbar navbar-toggleable-md navbar-inverse navbar-sh fixed-top">
  <a class="navbar-brand brand-sh" href="#">StudentHack</a>
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
      <a class="lgn" routerLink="/register" routerLinkActive="active"><b>Register</b> <span class="caret"></span></a>
  </ul>
</nav>

<router-outlet></router-outlet>

