.lgn{
	color: white;
	text-decoration: none;
}

.lgn:hover{
	color: #88d317;
	text-decoration: none;
}

.navbar-sh{
	background-color: #1a0315;
}

.brand-sh{
	color:#88d317;
	text-decoration: bold;
}

.ct-lgn{
  margin-top:15vh;
}

.dash-body{
  margin-left: 5vw;
  margin-right: 5vw;
}
