<!-- <div class="container ct-lgn">
  <h2>Tambah Guru</h2>
  <br>
  <form (Submit)= "onTeacherSubmit()">
 
    <div class="form-group">
      <label class="control-label col-sm-10" for="name_teacher"><strong>Nama</strong></label>
      <div class="col-sm-10">
        <input type="text" name="name_teacher" class="form-control" placeholder="Nama Guru" ngModel required="Nama harus diisi">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-10" for="email_teacher"><strong>Email</strong></label>
      <div class="col-sm-10">
        <input type="email" name="email_teacher" class="form-control" placeholder="Email" ngModel required="Email harus diisi">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-10" for="handphone_teacher"><strong>No. HP</strong></label>
      <div class="col-sm-10">
        <input type="text" name="handphone_teacher" class="form-control" placeholder="No. HP" ngModel required="No. HP harus diisi">
      </div> 
    </div>
    <div class="form-group">
      <label class="control-label col-sm-10" for="gender_teacher"><strong>Jenis Kelamin</strong></label>
      <div class="col-sm-10">
        <input type="text" name="gender_teacher" class="form-control" placeholder="Jenis Kelamin" ngModel required="Jenis kelamin harus diisi">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-10" for="birthday_teacher"><strong>Tanggal Lahir</strong></label>
      <div class="col-sm-10">
        <input type="text" name="birthday_teacher" class="form-control" placeholder="Tanggal lahir harus diisi" ngModel required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-10" for="address_teacher"><strong>Alamat</strong></label>
      <div class="col-sm-10">
        <input type="text" name="address_teacher" class="form-control" placeholder="Alamat" ngModel required="Alamat harus diisi">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-10" for="password_teacher"><strong>Password</strong></label>
      <div class="col-sm-10">
        <input type="password" name="password_teacher" class="form-control" placeholder="Password" ngModel required="Password harus diisi">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default btn-sh"></button>
      </div>
    </div>
</div>  
 -->